<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            3-Day
          </a>

          <a class="navbar-item">
            7-Day
          </a>

        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Refresh</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <section class="section">
      <h1 class="title has-text-centered">express-weather</h1>
      <h2 class="subtitle has-text-centered">
        An easy way to view weather information for <strong>your</strong> city.
      </h2>

      <input
              class="input is-large mt-6"
              type="text"
              placeholder="Enter your city zip code..."
              id="zipInput"
      />
    </section>

    <section class="section">
      <h1 class="title has-text-centered"><%= weather.cityName %></h1>
      <h2 class="has-text-centered">Fetched at <%= weather.timeFetched %></h2>

      <div class="is-flex is-justify-content-space-around mt-6">
          <div class="image_desc">
            <figure class="image is-128x128">
              <img src="<%= `https://openweathermap.org/img/wn/${weather.icon}@2x.png`%>"/>
            </figure>

            <h1 class="has-text-centered"><%= weather.description %></h1>
          </div>

          <div class="weather_info">
            <p>Temperature: <%= weather.temperature %> &deg;</p>
            <p>Feels Like: <%= weather.feelsLike%> &deg;</p>
            <p>Max Temp: <%= weather.max %> &deg;</p>
            <p>Min Temp: <%= weather.min %> &deg;</p>
            <p>Humidity: <%= weather.humidity %> %</p>
            <p>Wind Speed: <%= weather.windSpeed %> MPH</p>
          </div>
      </div>
    </section>

  </body>
</html>
